.container {
    width: 1170px;
    margin: 0 auto;
}

.body-color {
    background-color: #e36414;
}

li {
    list-style: none;
}

@mixin flexj-a-center {
    display: flex;
    justify-content: center;
    align-items: center;
}   